name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment to use (dev/test/prod)'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - test
          - prod
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Клонируем репозиторий
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Устанавливаем Java
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      # 3️⃣ Собираем проект (без тестов пока)
      - name: Build with Maven (skip tests)
        run: mvn -pl backend clean package -DskipTests

      # 4️⃣ Запускаем приложение (в фоне)
      - name: Run backend
        run: |
          cd backend
          nohup mvn spring-boot:run -Dspring-boot.run.profiles=${{ github.event.inputs.env || 'dev' }} &
          sleep 10  # ждём пока сервер поднимется

      # 5️⃣ Запускаем тесты
      - name: Run tests
        run: mvn -pl api-autotest test -Denv=${{ github.event.inputs.env || 'dev' }}
