name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment to use (dev/test/prod)'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - test
          - prod
  schedule:
    - cron: '0 0 * * *' # every day at midnight UTC

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven (skip tests)
        run: mvn -pl backend clean package -DskipTests

      - name: Run backend
        run: |
          cd backend
          nohup mvn spring-boot:run -Dspring-boot.run.profiles=${{ github.event.inputs.env || 'dev' }} &
          sleep 10 

      - name: Run tests
        run: mvn -pl api-autotest test -Denv=${{ github.event.inputs.env || 'dev' }}

      - name: Generate Allure Report
        working-directory: api-autotest
        run: mvn allure:report

      - name: Upload Allure report as artifact
        uses: actions/upload-artifact@v4
        with:
            name: allure-report
            path: api-autotest/target/site/allure-maven-plugin

      - name: Deploy Allure Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
           github_token: ${{ secrets.GITHUB_TOKEN }}
           publish_dir: api-autotest/target/site/allure-maven-plugin
           destination_dir: allure